html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #000;
}

#legacy-root {
  width: 100%;
  height: 100%;
  display: none;
}

body.app-editing #landing-root {
  display: none;
}

body.app-editing #legacy-root {
  display: block;
}
